<section class="contact">
    <ul>
        <img [src]="avatar" alt="avatar" class="avatar" [routerLink]="['/contact-profile', id]">
        <li>
            <strong>{{ name }}</strong>
        </li>        
        <li>{{ phone }}</li>
        <li>
            <button>
                <img [routerLink]="['/form', id]" src="assets/pencil-square.png" alt="Pencil">
            </button>
            <button [routerLink]="['/contact-profile', id]">
                <img src="assets/trash.png" alt="Trash">             
            </button>
        </li>
    </ul>
</section>
