<app-container>
    <header>
        <section class="link-header">
            <img src="assets/logo.png" alt="Logo">
        </section>
        <section class="contact-header">
            <img src="assets/add-contact.png" alt="Add Contact">
            <h1>Adicionar Contato</h1>
        </section>
    </header>

    <form>
        <label for="name">Nome:</label>
        <input type="text" id="name" placeholder="Digite o nome do contato">

        <label for="phone">Telefone:</label>
        <input type="text" id="phone" placeholder="Digite o telefone do contato">

        <label for="email">E-mail:</label>
        <input type="email" id="email" placeholder="Digite o e-mail do contato">

        <app-divider></app-divider>

        <label for="birthday">Aniversário:</label>
        <input type="text" id="birthday" placeholder="Digite o aniversário do contato">

        <label for="social-media">Redes Sociais:</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input type="url" id="social-media" placeholder="Digite as redes sociais do contato">
        </div>

        <textarea type="text" name="observations" id="observations" placeholder="Digite suas observações"></textarea>

        <section class="buttons">
            <button class="cancel-button" type="button">Cancelar</button>
            <button class="save-button" type="submit">Salvar Contato</button>
        </section>
    </form>
</app-container>
