<app-container>
    <header>
        <section class="link-header">
            <img src="assets/logo.png" alt="Logo">
        </section>
        <section class="contact-header">
            <img src="assets/add-contact.png" alt="Add Contact">
            <h1>Adicionar Contato</h1>
        </section>
    </header>

    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
        <label for="name">Nome:</label>
        <input type="text" id="name" formControlName="name" placeholder="Digite o nome do contato">
        @if(contactForm.get('name')?.errors && contactForm.get('name')?.touched) {
            <div class="error-message">
                Campo obrigatório!
            </div>
        }
        <label for="phone">Telefone:</label>
        <input type="text" id="phone" formControlName="phone" placeholder="Digite o telefone do contato">
        @if(contactForm.get('phone')?.errors && contactForm.get('phone')?.touched) {
            <div class="error-message">
                Campo obrigatório!
            </div>
        }

        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite o e-mail do contato">
        @if(contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched) {
            <div class="error-message">
                Campo obrigatório!
            </div>
        }
        @if(contactForm.get('email')?.errors?.['email'] && contactForm.get('email')?.touched) {
            <div class="error-message">
                E-mail inválido!
            </div>
        }

        <app-divider></app-divider>

        <label for="birthday">Aniversário:</label>
        <input type="text" id="birthday" formControlName="birthday" placeholder="Digite o aniversário do contato">

        <label for="social-media">Redes Sociais:</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input type="url" id="social-media" formControlName="socialMedia" placeholder="Digite as redes sociais do contato">
        </div>

        <textarea type="text" name="observations" id="observations" formControlName="observations" placeholder="Digite suas observações"></textarea>

        <section class="buttons">
            <button class="cancel-button" type="button" (click)="cancel()">Cancelar</button>
            <button class="save-button" type="submit">Salvar Contato</button>
        </section>
    </form>
</app-container>
