<app-container>
    <header>
        <section class="link-header">
            <img src="assets/logo.png" alt="Logo">
            <div>
                <button routerLink="/list">
                    <img class="arrow" src="assets/arrow-left.png" alt="">
                    <a>Voltar</a>
                </button>
            </div>
        </section>
        <section class="contact-header">
            <img src="assets/add-contact.png" alt="Add Contact">
            <h1>Adicionar Contato</h1>
        </section>
    </header>
    <app-divider></app-divider>

    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
        <div role="button" class="contact-image">
            <i class="material-icons">add</i>
            <label for="avatar">Adicione a imagem do contato</label>
            <input type="file" accept="image/*" id="avatar" (change)="selectFile($event)" required>
        </div>
        @if(contactForm.get('avatar')?.value !== '') {
            <figure>
                <img [src]="contactForm.get('avatar')?.value" alt="Avatar do contato">
            </figure>
        }
        <label for="name">Nome:</label>
        <input type="text" id="name" formControlName="name" placeholder="Digite o nome do contato">
        <app-error-message [control]="getControl('name')"></app-error-message>
        
        <label for="phone">Telefone:</label>
        <input type="text" id="phone" formControlName="phone" placeholder="Digite o telefone do contato">
        <app-error-message [control]="getControl('phone')"></app-error-message>

        <label for="email">E-mail:</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite o e-mail do contato">
        <app-error-message [control]="getControl('email')"></app-error-message>

        <app-divider></app-divider>

        <label for="birthday">Aniversário:</label>
        <input type="text" id="birthday" formControlName="birthday" placeholder="Digite o aniversário do contato">

        <label for="social-media">Redes Sociais:</label>
        <div class="input-container">
            <span class="span-http">http://</span>
            <input type="url" id="social-media" formControlName="socialMedia" placeholder="Digite as redes sociais do contato">
        </div>

        <textarea type="text" name="observations" id="observations" formControlName="observations" placeholder="Digite suas observações"></textarea>

        <section class="buttons">
            <button 
                type="button" 
                (click)="cancel()"
            >
                Cancelar
            </button>
           <button
                [disabled]="contactForm.invalid"
                [ngClass]="{'save-button': contactForm.valid, 'disabled-button': contactForm.invalid}"
                type="submit"
            >
                Salvar Contato
            </button>
        </section>
    </form>
</app-container>
